<!doctype html>
<html>
<head><title>車價估算</title>
</head>
<body>
<h1>車價估算</h1>
<form method="post">
<p>make:<select id="make" name="make">
    <option>alfa-romero</option>
    <option>benz</option>
    <option>audi</option>
</select>
</p><p>body-style:<select id="body-style" name="body-style">
    <option>convertible</option>
    <option>hatchback</option>
    <option>sedan</option>
</select>
</p><p>wheel-base:<input type="text" name="wheel-base" value="90">
</p><p>engine-size:<input type="text" name="engine-size" value="150">
</p><p>horsepower:<input type="text" name="horsepower" value="120">
</p><p>peak-rpm:<input type="text" name="peak-rpm" value="5000">
</p><p>highway-mpg:<input type="text" name="highway-mpg" value="90">
<input type="submit" value="估算">
</p></form>
</body>
</html>